<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807894649888-je5p4mup69kh5cgmcob0dkf5831dv8vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807894649888-je5p4mup69kh5cgmcob0dkf5831dv8vo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807894649888-4d1bprd05b6ha8s5lpqm243mla0jj767.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAljufYjttSvtNx33jGK_CjX8UXtt3iReA</string>
	<key>GCM_SENDER_ID</key>
	<string>807894649888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpb.flutter.boilerplate.dev</string>
	<key>PROJECT_ID</key>
	<string>cardapptest-afc92</string>
	<key>STORAGE_BUCKET</key>
	<string>cardapptest-afc92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807894649888:ios:e8913c85517f846d6f8045</string>
</dict>
</plist>